<div id="search">
	<h3><span class="label label-default col-md-offset-1">Search</span></h3>
	<div class="input-group col-md-offset-1 col-md-6">
		<input type="text" class="form-control" ng-model="searchText">
  		<div class="input-group-btn">
	    	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{mode}}  <span class="caret"></span></button>
	        <ul class="dropdown-menu pull-right">
	          <li><a href="" ng-click="setMode($event)">By Skill</a></li>
	          <li><a href="" ng-click="setMode($event)">By Name</a></li>
	        </ul>
	        <button class="btn btn-primary" type="button" ng-click="searchByMode()">Go!</button>
  		</div><!-- /btn-group -->
	</div>

	<div id="searchResults" ng-show="users.length > 0" class="col-md-offset-1 col-md-6">
		<h4><span class="label label-default">Results</span></h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{$index + 1}}</td>
					<td><a ng-href="/#/users/{{user._id}}">{{user.firstName}}  {{user.lastName}}</a></td>
					<td>{{user.role}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>